/*  إعدادات عامةو مشتركه للموقع  */
body {
  font-family: 'Tajawal', sans-serif;
  direction: rtl;
  background-color: #fff8f0;
  color: #333;
  margin: 0;
  padding: 0;
}

/*خلفية الصفحة الرئيسية والتسجيل وتسجيل الدخول وتنسيقها*/
body.landing-page,
body.login-page,
body.register-page {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url("cover2.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  direction: rtl;
}

/*زر تسجيل الدخول (فوق اليمين)*/

.login-link,
.btn {
  background-color: #7b3e19;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.3s;
}

.login-link:hover {
  background-color: #5e2f14;
}

/*صفحات تسجيل الدخول والتسجيل*/
.login-container {
  width: 300px;
  text-align: center;
  border-radius: 10px;
  background-color: white;
  padding: 30px;
  box-shadow: 0 0 10px #ccc;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 10px 20px;
  background-color: #7b3e19;
  color: white;
  border: none;
  border-radius: 5px;
}

/*صفحة الوصفات*/
body.recipes-page {
  font-family: 'Tajawal', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff8f0;
  direction: rtl;
}

.site-header {
  background-color: #7b3e19;
  color: white;
  padding: 20px;
  text-align: center;
  position: relative;
  box-shadow: 0 2px 6px #00000033;
}

.site-header h2 {
  margin: 0;
  font-family: 'Cairo', sans-serif;
  font-size: 24px;
}

.logout-btn {
  position: absolute;
  left: 20px;
  top: 20px;
  background-color: #ff7f50;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.logout-btn:hover {
  background-color: #e86133;
}

.section-title {
  margin-top: 30px;
  color: #7b3e19;
  text-align: center;
}

.recipes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 30px 20px;
}

.recipe-card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 2px 0px #00000022;
  overflow: hidden;
  width: 250px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.recipe-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px #00000044;
}

.recipe-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.recipe-card h3 {
  margin: 10px 10px 0;
  color: #7b3e19;
  font-size: 18px;
}

.recipe-card p {
  color: #444;
  font-size: 14px;
  padding: 0 15px;
}

.recipe-card a {
  display: inline-block;
  margin: 0 10px;
  background-color: #ff7f50;
  color: white;
  border-radius: 8px;
  padding: 8px 15px;
  text-decoration: none;
  font-size: 14px;
}

.recipe-card a:hover {
  background-color: #e86133;
}